  <ion-content class="login_page">
      <div class="logo">
          <img src="img/logo.png"/>
          <p>The world a new perspective</p>
      </div>
      <form class="log_form">
        <p>To use posta “Sign up”</p>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-android-person  placeholder-icon"></i>
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <i class="icon ion-unlocked placeholder-icon"></i>
                <input type="password" placeholder="Password">
            </label>
            <button class="button for_btn" ng-click="forget_password()">
            Forget password ?
            </button>
            
            <a href="#/app/list" class="button button-block">
              Get Started
            </a>
            <a href="#/register" class="button button-block main_btn">
              Sign Up
            </a>
            <a href="#/app/list" class="button button-icon skip_btn">
            Skip
            </a>
        </div>
      </form>
  </ion-content>

