<ion-header-bar align-title="left" class="bar-stable reg_head">
  <h1 class="title">sign up</h1>
</ion-header-bar>
  <ion-content class="register_page">
      <div class="profile_cover">
         <img src="img/profile.png" class="prof_img"/>
         <span class="cir"><i class="ion-camera"></i></span>
         <p>Upload cover picture</p>
      </div>
      <form class="reg_form log_form">
        <div class="list">
            <label class="item item-input">
                 <input type="text" placeholder="username">
            </label>
            <label class="item item-input">
                 <input type="email" placeholder="e-mail">
            </label>
            <label class="item item-input">
                 <input type="password" placeholder="password">
            </label>
            <label class="item item-input">
                 <input type="date">
            </label>
            <div class="row select">
               <div class="col">
                    <label class="item item-input item-select">
                    <select>
                        <option>country</option>
                        <option>USA</option>
                    </select>
                    </label>
               </div>
                <div class="col">
                    <label class="item item-input item-select">
                    <select>
                        <option>city</option>
                        <option>USA</option>
                    </select>
                    </label>
               </div>
            </div>
            
             <a href="#/app/profile" class="button button-block">
              Get Started
            </a>
            
        </div>
      </form>
  </ion-content>

